<% provide(:title, 'All users') %>
<h1>All users</h1>

<<<<<<< HEAD
=======

>>>>>>> updating-users
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
<<<<<<< HEAD
</ul>

<%= will_paginate %>
=======

</ul>

<%= will_paginate %>
>>>>>>> updating-users
